<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Rewrite rules for SPA routing -->
    <rewrite>
      <rules>
        <!-- Skip actual files -->
        <rule name="Static Files" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- Skip actual directories -->
        <rule name="Directories" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- Route all other requests to index.html -->
        <rule name="SPA" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
